@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin border-horisontal {
    border-left: 1px solid $sidebarFont-color;
}

@mixin border-vertical {
    border-bottom: 1px solid $sidebarFont-color;
}

@mixin border-around {
    border: 1px solid $sidebarFont-color;
}