/* colors */
$sidebar-color:rgb(15, 15, 15);
$sidebar-colorActive: #333333;
$sidebarFontActive-color: #F5F5F2;
$sidebarFont-color: #979797;
$sidebarLineActive-color: #F58220;
$body-color: #F5f5f2;
$pageHeader-color: #B3B3B3;
$sectionHeader-color: #A6A6A6;
$mainSection:#ffffff;
$frame-color: #E3E3E3;
$green-juice: #04AE00;


/* login */
$loginName-color: #56819F;
$loginLogo: #A5A5A5;

/*fonts*/
$text-phont: 'Roboto', sans-serif;

$text-font-size: 16px;

$font-normal: 400;
$font-bold: 700;
$font-light: 300;
@font-face 
{
font-family: reklame script;
src: url(/Fonts/reklamescript-regular_demo.otf);
}

