// input[type = "submit"] {
    
// }
.btn {
    @include center();
    height: 40px;
    border-radius: 4px;
}

.btn__reload {
    width: 40px;
    font-weight: 300;
    background-color: $sidebarLineActive-color;
    svg {
        fill:$mainSection;
    }
}
.btn__chart {
    width: 120px;
    font-weight: 300;
    background-color: $mainSection;
}
.btn__chart:hover {
    background-color: $frame-color;
    width: 120px;
    font-weight: 300;
    height: 40px;
    border-radius: 4px;
    
    .statistic__name:hover {     
        color:$sidebarFont-color;
    }   
}

//$frame-color
.chart__link {
    text-decoration: none;
}
.btn__circle {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    
}
.circle__signups {
    background-color: $loginName-color;
}
.circle__ftd {
background-color: $sidebarLineActive-color;
}
.circle__earned{
    background-color: $green-juice;
}