.page__calendar {
    @include center();
    
}
.calendar__wrapper {
    @include center();
    height: 100px;
    @include border-vertical();
    overflow: hidden;
   
}
.statistic__wrapper, .links__wrapper {
    @include center();
    flex-direction: column;
}
.statistic__container, .links__container {
    max-width: 1000px;
   // width: 80%;
    margin: 0;
}
.statistic__text {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 60px 0 60px 0;
    
    padding: 0;
}
.statistic__text li {
    display: flex;
    justify-content: space-between;
    flex:40%;
    //height: 40px;
    @include border-vertical();
    //padding-bottom: 10px;
}
.statistic__name {
    color:$loginName-color;
   // margin-left: 15px;
    
}
.statistic__text-visit, .statistic__text-ftd {
    margin-right: 40px;
}
.statistic__text-net, .statistic__text-turn {
    margin-left: 40px;
}
.statistic__value {
    font-weight: 100;
}
.chart__btn {
    display: flex;
    justify-content: space-between;;
}
.btn__chart {
    margin:0 20px 0 20px;
    .statistic__name{
        font-weight: 100;
    }
}